DATABASE_URL="postgresql://borafest:borafest@localhost:5443/borafest?schema=public"
REDIS_URL="redis://localhost:6380"
NODE_ENV=development
API_PORT=3333
SESSION_JWT_SECRET=
PAYMENTS_PROVIDER=mock
MOCK_WEBHOOK_SECRET=mock-webhook-secret-dev
